<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ad hoc Contribution Logger</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{{token}}}">
        <meta name="persona-email" content="{{{currentUser}}}">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/bower/bootstrap-datepicker/css/datepicker.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body id="top">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Ad hoc Contribution Logger</span>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          {{{body}}}
        </div>
        <div class="col-sm-2">
          {{#if authorized}}
            <p class="small text-right">{{{username}}}</p>
            <button id="logout" class="btn btn-xs btn-warning pull-right">Sign out <span class="glyphicon glyphicon-remove-sign"></span></button><br /><br />
            <button id="help" class="btn btn-xs btn-info pull-right" data-toggle="modal" data-target="#myModal">Help <span class="glyphicon glyphicon-phone-alt"></span></button>
          {{else}}
            {{#unless currentUser}}
            <br />
            <a id="login" class="btn btn-primary btn-lg pull-right" role="button">Sign in &raquo;</a>
            {{/unless}}
          {{/if}}
        </div>
      </div>
    </div>
    <footer>
        <div class="container">
            <p class="terms"><a href="http://www.mozilla.org/en-US/privacy/" target="_blank">Privacy</a></p>
        </div>
    </footer>


    <script src="/bower/jquery/dist/jquery.js"></script>
    <script src="/bower/jquery.validation/dist/jquery.validate.min.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/bower/jquery-cookie/jquery.cookie.js"></script>
		<script src="https://login.persona.org/include.js"></script>
		<script src="js/main.js"></script>
    <!-- {{{pageJS}}} -->
    {{#if pageJS}}
      <script src="js/{{{pageJS}}}.js"></script>
    {{/if}}
    </body>
</html>
