<div class="row">
  <form id="contributionForm" method="post" action="/log-em">
    <input type="hidden" name="_csrf" value="{{{token}}}">
    <div class="col-sm-4">
      <h3>What</h3>
      <h5>Team</h5>
      <select class="form-control" name="teamname" id="teamname" required>
        <option value="default">--Select</option>
        <option value="appmaker">Appmaker</option>
        <option value="openbadges">Badges</option>
        <option value="engagement">Engagement</option>
        <option value="opennews">Open News</option>
        <option value="sciencelab">Science Lab</option>
        <option value="webmaker">Webmaker</option>
      </select>
      <h5>Type <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="Let me know if you need a new bucket here"></span></h5>
      <select class="form-control" name="databucket" id="databucket" required>
        <option value="default">--Select</option>
        <option value="content">Content</option>
        <option value="content">Translation</option>
        <option value="events">Events</option>
        <option value="training">Completed Training</option>
        <option value="community">Community Calls</option>
        <option value="community">Partners</option>
        <option value="community">1 to 1 relations</option>
        <option value="testing">Testing and QA</option>
        <option value="apis">Build on our APIs</option>
      </select>
      <h5>Description <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="No essays, just enough that we can look back and know what this was about."></span></h5>
      <textarea class="form-control" name="description" id="description" rows="2" required>{{{description}}}</textarea>
      <h3>When <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="The date the contribution activity happened"></span>
</h3>
      <input type="text" class="form-control date-format datePickerActive" name="date" id="date" placeholder="YYYY-MM-DD" required value="{{{date}}}">
      <br /><button class="btn btn-default btn-xs" id="btnToday">Today <span class="glyphicon glyphicon-calendar"></span></button>
    </div>
    <div class="col-sm-8">
      <h3>Who</h3>
      <p class="small">Email addresses: seperated by a comma, semicolon, or new lines <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="top" title="Just emails, no names. This alows us to de-dupe people."></span></p>
      <textarea class="form-control" rows="16" name="contributors" required></textarea><br />
      <h5>Evidence (optional)</h5>
      <input type="text" name="evidence" placeholder="http://example.com" class="form-control"><br />
      <button type="submit" class="btn btn-primary btn-lg">Log this <span class="glyphicon glyphicon-ok-sign"></span></button>
      <button class="btn btn-default btn-xs pull-right" id="btnQuicklink">Get pre-fill quick link <span class="glyphicon glyphicon-link"></span></button>
    </div>
  </form>
</div>
<br /><br /><br /><br /><hr />
<div class="row">
  <div class="col-sm-12">
  <h4 id="logged">Logged by you (most recent) <a href="#top" class="btn btn-xs btn-default pull-right">Log more <span class="glyphicon glyphicon-arrow-up"></span></a></h4>
  <table class="table table-striped">
  <tr>
    <th>Logged on</th>
    <th>Contributor ID</th>
    <th>Contribution Date</th>
    <th>Team</th>
    <th>Type</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
  {{#each recentlyLogged}}
    <tr>
    {{#each this}}
      <td>{{this}}</td>
    {{/each}}

    <td><a href="/delete?contributor_id={{contributor_id}}&contribution_date={{contribution_date}}&mofo_team={{mofo_team}}&data_bucket={{data_bucket}}" onclick="return confirm('Are you sure?')" class="btn btn-xm"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  {{/each}}
  </table>
  </div>
</div>


<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLinkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLinkLabel">Quick link</h4>
      </div>
      <div class="modal-body">
        <p>Use this URL as a shortcut to pre-populate this page.</p>
        <p><input type="text" class="form-control" id="linkToCopy"></p>
        <p class="small">Save this as a bookmark, or copy and paste into your browser bar.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

{{#if type}}
var textToFindType = '{{{type}}}';
textToFindType = decodeURI(textToFindType);
var elType = document.getElementById('databucket');
for (var i = 0; i < elType.options.length; i++) {
    if (elType.options[i].text === textToFindType) {
        elType.selectedIndex = i;
        break;
    }
}
{{/if}}

{{#if team}}
var textToFindTeam = '{{{team}}}';
textToFindTeam = decodeURI(textToFindTeam);
var elTeam = document.getElementById('teamname');
for (var i = 0; i < elTeam.options.length; i++) {
    if (elTeam.options[i].text === textToFindTeam) {
        elTeam.selectedIndex = i;
        break;
    }
}
{{/if}}

</script>
