<div class="row">
  <form id="contributionForm" method="post" action="/log-em">
    <input type="hidden" name="_csrf" value="{{{token}}}">
    <div class="col-sm-4">
      <h3>What</h3>
      <h5>Team</h5>
      <select class="form-control" name="teamname" id="teamname" required>
        <option value="default">--Select</option>
        <optgroup label="MoFo">
          <option value="mofo-appmaker">Appmaker</option>
          <option value="mofo-openbadges">Badges</option>
          <option value="mofo-engagement">Engagement</option>
          <option value="mofo-hive">Hive</option>
          <option value="mofo-opennews">Open News</option>
          <option value="mofo-sciencelab">Science Lab</option>
          <option value="mofo-webmaker">Webmaker</option>
        </optgroup>
        <optgroup label="MoCo">
          <option value="moco-engagement">Engagement</option>
          <option value="moco-finance">Finance</option>
          <option value="moco-legal">Legal</option>
          <option value="moco-privacy">Privacy</option>
        </optgroup>
      </select>
      <h5>Type <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="Let me know if you need a new bucket here"></span></h5>
      <select class="form-control" name="databucket" id="databucket" required>
        <option value="default">--Select</option>
        <option value="content">Content</option>
        <option value="translation">Translation</option>
        <option value="events">Events</option>
        <option value="training">Completed Training</option>
        <option value="community">Community Calls</option>
        <option value="partners">Partners</option>
        <option value="1to1relation">Other 1 to 1 relationships</option>
        <option value="testing">Testing and QA</option>
        <option value="apis">Build on our APIs</option>
      </select>
      <h5>Description <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="No essays, just enough that we can look back and know what this was about."></span></h5>
      <textarea class="form-control" name="description" id="description" rows="2" required>{{{description}}}</textarea>
      <h3>When <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="right" title="The date the contribution activity happened"></span>
</h3>
      <input type="text" class="form-control date-format datePickerActive" name="date" id="date" placeholder="YYYY-MM-DD" required value="{{{date}}}">
      <br /><button class="btn btn-default btn-xs" id="btnToday">Today <span class="glyphicon glyphicon-calendar"></span></button>
    </div>
    <div class="col-sm-8">
      <h3>Who</h3>
      <p class="small">Email addresses: seperated by a comma, semicolon, or new lines <span class="glyphicon glyphicon-question-sign tooltipActive" data-toggle="tooltip" data-placement="top" title="Just emails, no names. This alows us to de-dupe people."></span></p>
      <textarea class="form-control" rows="12" name="contributors" required></textarea>
      <p class="small terms"><br/><em>This tool will not email these contributors, and logging an address here does not give Mozilla permission to email these contributors. It is expected that as the person logging this contribution, you (or your team) have a direct relationship with the contributors.</em></p>
      <br/>
      <h5>Contribution Evidence (optional)</h5>
      <input type="text" name="evidence" placeholder="http://example.com" class="form-control"><br />
      <button type="submit" class="btn btn-primary btn-lg">Log this <span class="glyphicon glyphicon-ok-sign"></span></button>
      <button class="btn btn-default btn-xs pull-right" id="btnQuicklink">Get pre-fill quick link <span class="glyphicon glyphicon-link"></span></button>
    </div>
  </form>
</div>
<br /><br /><br /><br /><hr />
<div class="row">
  <div class="col-sm-12">
  <h4 id="logged">Logged by you (most recent) <a href="#top" class="btn btn-xs btn-default pull-right">Log more <span class="glyphicon glyphicon-arrow-up"></span></a></h4>
  <table class="table table-striped">
  <tr>
    <th>Logged on</th>
    <th>Contributor ID</th>
    <th>Contribution Date</th>
    <th>Team</th>
    <th>Type</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
  {{#each recentlyLogged}}
    <tr>
    {{#each this}}
      <td>{{this}}</td>
    {{/each}}

    <td><a href="/delete?contributor_id={{contributor_id}}&contribution_date={{contribution_date}}&mofo_team={{mofo_team}}&data_bucket={{data_bucket}}" class="btn btn-xm deleteLink"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  {{/each}}
  </table>
  </div>
</div>


<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLinkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="linkModalLinkLabel">Quick link</h4>
      </div>
      <div class="modal-body">
        <p>Use this URL as a shortcut to pre-populate this form with your What and When fields.</p>
        <p><input type="text" class="form-control" id="linkToCopy"></p>
        <p class="small">Save this as a bookmark, or copy and paste into your browser bar.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Help -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Help is at hand. <a href="http://www.youtube.com/watch?v=pd_2ins6lcA" target="_blank">Bat phone</a>.</h4>
      </div>
      <div class="modal-body">
        <h4>What should I record here?</h4>
        <p>Contribution activity that doesn't exist in another database. For example, don't log someone's code contribution here if it's already in a Gitbhub commit history. But, this would be a good place to note people who presented on a community call. <a href="#" id="showWelcome">See some more examples</a>.</p>
        <hr />
        <h4>What counts as contribtuion?</h4>
        <p>In the end, that's a call for your team, but this <a href="https://wiki.mozilla.org/Foundation/Metrics/Contributor_Dashboard#Sniff_test" target="_blank">MoFo Sniff Test</a> might help, along with the <a href="https://wiki.mozilla.org/Contribute/Conversion_points" target="_blank">MoCo Contributor Conversion Points</a>.</p>
        <hr />
        <h4>It broke! Or, I wish it would...</h4>
        <p>If you want to add new Teams, or contribution types, or have any other requests:
        <ul>
          <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?alias=&assigned_to=nobody%40mozilla.org&attach_text=&blocked=&bug_file_loc=http%3A%2F%2F&bug_ignored=0&bug_severity=normal&bug_status=NEW&comment=&component=Metrics&contenttypeentry=&contenttypemethod=autodetect&contenttypeselection=text%2Fplain&data=&defined_groups=1&dependson=&description=&flag_type-4=X&flag_type-607=X&flag_type-791=X&flag_type-800=X&flag_type-803=X&form_name=enter_bug&keywords=&maketemplate=Remember%20values%20as%20bookmarkable%20template&op_sys=Mac%20OS%20X&priority=--&product=Mozilla%20Foundation&qa_contact=&rep_platform=x86&requestee_type-4=&requestee_type-607=&requestee_type-791=&requestee_type-800=&see_also=&short_desc=Request%20______________________%20for%20Ad-hoc%20contribution%20logger&status_whiteboard=&target_milestone=---&version=unspecified" target="_blank">File a bug here (Mozilla Foundation :: Metrics)</a></li>
        </ul>
        <hr />
        <h4>When does this update?</h4>
        <p>After you log something here, our contributor dashboards will be updated with recent contribution activity within an hour. Backdated activity is updated every few hours.</p>
        <hr />
        <h4>Who built this?</h4>
        <ul>
          <li>Built by <a href="mailto:adam@mozillafoundation.org">Adam Lofting</a>.</li>
          <li><a href="https://github.com/adamlofting/adhoctribution/" target="_blank">Source code on Github</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Welcome -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLinkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="welcomeModalLinkLabel">Welcome! :)</h4>
      </div>
      <div class="modal-body">
        <p>This tool is for collecting small pots of contribution activity that happen here and there across the Mozilla universe (MoFo and MoCo).</p>
        <p>It's a fallback solution for logging the things that can't be counted elsewhere because they don't have a digital footprint, or where developing another system would not be an effective use of time/money.</p>
        <div class="alert alert-success">
          <h4>It's good for things like:</h4>
          <ul>
            <li>Logging those five people who helped at your event</li>
            <li>Logging people who present on a regular community call</li>
            <li>Logging that person who verbally reported a bug at a meetup</li>
          </ul>
        </div>
        <div class="alert alert-warning">
          <h4>Perhaps check before logging things like</h4>
          <ul>
            <li>A list of a hundred people who volunteered at an event</li>
          </ul>
        </div>
        <div class="alert alert-danger">
          <h4>Don't use it for</h4>
          <ul>
            <li>Logging thousands of people who did something, as we could likely better record and automate this somewhere else.</li>
            <li>Logging things we are counting already (e.g. code contributions in github)</li>
            <li>Logging things we are working on counting automatically (e.g. writing articles on SUMO)</li>
            <li>Planning your next vacation</li>
          </ul>
        </div>
        <h4>Good to know:</h4>
        <ul>
          <li>The counts from this tool will be added to our Contributor Dashboards automatically, but only the aggregate numbers are exposed via the API - not raw data</li>
          <li>This tool does not send any communications (or have permission to send communications to) the email addresses logged</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="hiddenType" value="{{{type}}}">
<input type="hidden" id="hiddenTeam" value="{{{team}}}">
